<!DOCTYPE html>
<html lang="en-US" dir="ltr" data-navigation-type="default" data-navbar-horizontal-shape="default">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - EB Meter Admin</title>

    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/icons/logo.png" asp-append-version="true" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/img/icons/logo.png" asp-append-version="true" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/img/icons/logo.png" asp-append-version="true" />
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicons/favicon.ico" asp-append-version="true" />
    <link rel="manifest" href="~/assets/img/favicons/manifest.json" asp-append-version="true" />
    <meta name="theme-color" content="#ffffff" />

    <script src="~/vendors/simplebar/simplebar.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/config.js" asp-append-version="true"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet" />
    <link href="~/vendors/simplebar/simplebar.min.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
    <link href="~/assets/css/theme-rtl.min.css" rel="stylesheet" id="style-rtl" asp-append-version="true" />
    <link href="~/assets/css/theme.min.css" rel="stylesheet" id="style-default" asp-append-version="true" />
    <link href="~/assets/css/user-rtl.min.css" rel="stylesheet" id="user-style-rtl" asp-append-version="true" />
    <link href="~/assets/css/user.min.css" rel="stylesheet" id="user-style-default" asp-append-version="true" />

    @RenderSection("Head", required: false)

    <script>
        var phoenixIsRTL = window.config && window.config.config ? window.config.config.phoenixIsRTL : false;
        if (phoenixIsRTL) {
            var linkDefault = document.getElementById('style-default');
            var userLinkDefault = document.getElementById('user-style-default');
            if (linkDefault) linkDefault.setAttribute('disabled', true);
            if (userLinkDefault) userLinkDefault.setAttribute('disabled', true);
            document.querySelector('html').setAttribute('dir', 'rtl');
        } else {
            var linkRTL = document.getElementById('style-rtl');
            var userLinkRTL = document.getElementById('user-style-rtl');
            if (linkRTL) linkRTL.setAttribute('disabled', true);
            if (userLinkRTL) userLinkRTL.setAttribute('disabled', true);
        }
    </script>
</head>
<body>
    <main class="main" id="top">
        <nav class="navbar navbar-top fixed-top navbar-expand" id="navbarDefault">
            <div class="collapse navbar-collapse justify-content-between">
                <div class="navbar-logo">
                    <a class="navbar-brand me-1 me-sm-3" asp-page="/Index">
                        <div class="d-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="~/assets/img/icons/logo.png" alt="EB" width="27" asp-append-version="true" />
                                <h5 class="logo-text ms-2 d-none d-sm-block">EB Meter Admin</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="search-box navbar-top-search-box d-none d-lg-block" data-list='{"valueNames":["title"]}' style="width:22rem;">
                    <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                        <input class="form-control search-input fuzzy-search rounded-pill form-control-sm" type="search" placeholder="Search..." aria-label="Search" />
                        <span class="fas fa-search search-box-icon"></span>
                    </form>
                    <div class="btn-close position-absolute end-0 top-50 translate-middle cursor-pointer shadow-none" data-bs-dismiss="search">
                        <button class="btn btn-link p-0" type="button" aria-label="Close"></button>
                    </div>
                </div>
                <ul class="navbar-nav navbar-nav-icons flex-row">
                    <li class="nav-item">
                        <div class="theme-control-toggle fa-icon-wait px-2">
                            <input class="form-check-input ms-0 theme-control-toggle-input" type="checkbox" data-theme-control="phoenixTheme" value="dark" id="themeControlToggle" />
                            <label class="mb-0 theme-control-toggle-label theme-control-toggle-light" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Switch theme" style="height:32px;width:32px;"><span class="icon" data-feather="moon"></span></label>
                            <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Switch theme" style="height:32px;width:32px;"><span class="icon" data-feather="sun"></span></label>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-auto-close="outside"><span class="d-block" style="height:20px;width:20px;"><span data-feather="bell" style="height:20px;width:20px;"></span></span></a>
                        <div class="dropdown-menu dropdown-menu-end notification-dropdown-menu py-0 shadow border navbar-dropdown-caret" aria-labelledby="navbarDropdownNotfication">
                            <div class="card position-relative border-0">
                                <div class="card-header p-2">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="text-body-emphasis mb-0">Notifications</h5>
                                        <button class="btn btn-link p-0 fs-9 fw-normal" type="button">Mark all as read</button>
                                    </div>
                                </div>
                                <div class="card-body p-0">
                                    <div class="scrollbar-overlay" style="height: 18rem;">
                                        <div class="px-2 px-sm-3 py-3 notification-card position-relative read border-bottom">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="d-flex">
                                                    <div class="avatar avatar-m me-3"><img class="rounded-circle" src="~/assets/img/team/40x40/30.webp" alt="" asp-append-version="true" /></div>
                                                    <div class="flex-1 me-sm-3">
                                                        <h4 class="fs-9 text-body-emphasis mb-1">Meter validation complete</h4>
                                                        <p class="fs-9 text-body-highlight mb-0">Reading for Bill #A1024 was approved.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="px-2 px-sm-3 py-3 notification-card position-relative unread">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="d-flex">
                                                    <div class="avatar avatar-m me-3"><img class="rounded-circle" src="~/assets/img/team/40x40/57.webp" alt="" asp-append-version="true" /></div>
                                                    <div class="flex-1 me-sm-3">
                                                        <h4 class="fs-9 text-body-emphasis mb-1">New submission</h4>
                                                        <p class="fs-9 text-body-highlight mb-0">Joyson Mathew uploaded a new meter image.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer p-0 border-top border-translucent border-0">
                                    <div class="my-2 text-center fw-bold fs-10 text-body-tertiary text-opacity-85"><a class="fw-bolder" href="#">Notification history</a></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link lh-1 pe-0" id="navbarDropdownUser" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
                            <div class="avatar avatar-l">
                                <img class="rounded-circle" src="~/assets/img/team/40x40/57.webp" alt="" asp-append-version="true" />
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-profile shadow border" aria-labelledby="navbarDropdownUser">
                            <div class="card position-relative border-0">
                                <div class="card-body p-0">
                                    <div class="text-center pt-4 pb-3">
                                        <div class="avatar avatar-xl ">
                                            <img class="rounded-circle" src="~/assets/img/team/72x72/57.webp" alt="" asp-append-version="true" />
                                        </div>
                                        <h6 class="mt-2 text-body-emphasis">@(ViewData["Username"] ?? "Admin")</h6>
                                        <p class="text-body-tertiary mb-0">Administrator</p>
                                    </div>
                                </div>
                                <div class="overflow-auto scrollbar" style="height: 9rem;">
                                    <ul class="nav d-flex flex-column mb-2 pb-1">
                                        <li class="nav-item"><a class="nav-link px-3 d-block" href="#"><span class="me-2 text-body align-bottom" data-feather="user"></span><span>Profile</span></a></li>
                                        <li class="nav-item"><a class="nav-link px-3 d-block" href="#"><span class="me-2 text-body align-bottom" data-feather="settings"></span>Settings</a></li>
                                        <li class="nav-item">
                                            <form method="post" asp-page-handler="SignOut" class="d-inline">
                                                <button type="submit" class="nav-link px-3 d-block border-0 bg-transparent text-start w-100" style="cursor: pointer;">
                                                    <span class="me-2 text-body align-bottom" data-feather="lock"></span>Sign out
                                                </button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="content">
                @RenderBody()
        </div>
    </main>

    <script>
        var navbarTopStyle = window.config && window.config.config ? window.config.config.phoenixNavbarTopStyle : null;
        var navbarTop = document.querySelector('.navbar-top');
        if (navbarTop && navbarTopStyle === 'darker') {
            navbarTop.setAttribute('data-navbar-appearance', 'darker');
        }

    </script>

    <!-- Core JavaScript Libraries (Load First) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/vendors/popper/popper.min.js" asp-append-version="true"></script>
    <script src="~/vendors/bootstrap/bootstrap.min.js" asp-append-version="true"></script>
    
    <!-- Utility Libraries -->
    <script src="~/vendors/lodash/lodash.min.js" asp-append-version="true"></script>
    <script src="~/vendors/is/is.min.js" asp-append-version="true"></script>
    <script src="~/vendors/dayjs/dayjs.min.js" asp-append-version="true"></script>
    
    <!-- UI Enhancement Libraries -->
    <script src="~/vendors/feather-icons/feather.min.js" asp-append-version="true"></script>
    <script src="~/vendors/fontawesome/all.min.js" asp-append-version="true"></script>
    <script src="~/vendors/list.js/list.min.js" asp-append-version="true"></script>
    <script src="~/vendors/anchorjs/anchor.min.js" asp-append-version="true"></script>
    
    <!-- Theme JavaScript (Load Last) -->
    <script src="~/assets/js/phoenix.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>





